# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.env
.venv
env/
venv/

# Test and coverage artifacts
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.mypy_cache/
.ruff_cache/

# VSCode / IDE
.vscode/
.idea/

# MacOS
.DS_Store

# Local data / docs
custom_components/foxess_cloud/docs/
